html
	head
		style
			include styles.css
	body
		#header
			img#logo(src='https://storage.cloud.google.com/assets-pronto-entregue/pronto-id.png')
		#container
			block content
		#footer
			p
				small Este email foi enviado diretamente de nossos servidores. Verifique se os links correspondem aos nossos domínios.